/* #app{max-width: 1440px;} */
ul li{
    width: calc(90%/5);
    height: 300px;
    list-style: none;
    margin: 5px;
    padding: 30px 0 18px 9px;
    float: left;
    border: 7px double rebeccapurple;
    border-radius: 10px;
}
.back_img{
    height : 200px;
    max-width: 133px ;
    background-color: rebeccapurple;
}
img{
    height : 200px;;
}

.serietv{border-color: royalblue;}