<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="app">
        <label for="text">Cerca Film</label><input type="text" v-model="search" v-on:keyup.enter="submit">
        <ul>
            <li v-for="movie in movies">
                <div v-if="(movie.original_title !== movie.title)">
                    <img :src="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="">
                    <strong>1.Titolo:</strong> {{movie.title}}; <br>
                    <strong>2.Titolo Originale:</strong> {{movie.original_title}}; <br>
                </div>
                <div v-else><strong>1.Titolo:</strong> {{movie.title}}; <br></div>
                <strong>3.Lingua:</strong> {{movie.original_language}}; <br>
                <strong>4.Voto:</strong> {{movie.vote_average}}
            </li>
        </ul>
    </div>
    <!-- Js & Vue & Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>